.header{
    background-color: aqua;
    text-align: center;
}
.nav{
    background-color: yellow;
    color: white;
    display:flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
}
h1{
    font-size: 45px;
    margin 50px;
}